<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>天空之城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <link rel="stylesheet" href="css/LR.css">
    <link rel="stylesheet" href="css/jquery.sPage.css">
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <script src="https://at.alicdn.com/t/font_1520101_69ofwjk683q.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/sPage.min.js"></script>
    <script src="js/community.js"></script>
    <script th:src="@{js/indexdata.js}"></script>
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>


    <script type="application/javascript">
        window.onload=function () {
            var closeable=window.localStorage.getItem("closeable");
            if(closeable=="true"){
                window.close();
                window.localStorage.removeItem("closeable");
            }
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



</head>
<body>
<div th:insert="~{navgation :: nav}" ></div>
<div class="container main">

    <div class="row">
        <!--左边部分   -->
        <div class="col-md-9">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <hr>
            <ul class="nav nav-tabs" id="myTabs">
                <li role="presentation" class="active">
                    <a id="new">最新</a>
                </li>
                <li role="presentation" >
                    <a id="hot30">30天最热</a>
                </li>
                <li role="presentation" >
                    <a id="hot7">7天最热</a>
                </li>
                <li role="presentation" >
                    <a id="hot">最热</a>
                </li>
                <li role="presentation" >
                    <a id="no" class="red">消灭零回复</a>
                </li>
            </ul>


            <ul class="media-list" id="question_wrapper">

            </ul>
        </div>
        <!--右边部分 -->
        <div class="col-md-3">
            <!--新用户-->
            <div>
                <div data-v-f340ffc8 class="box box-flush text-gray-50 mt-2">
                    <div data-v-f340ffc8 class="box-body">
                        <div data-v-f340ffc8 class="d-flex align-items-center justify-content-between">
                            <div data-v-f340ffc8 class="text-13">最新用户</div>
                        </div>
                    </div>
                    <ul data-v-f340ffc8 class="plan-list px-2 pb-2" id="newUser_wrapper">
                    </ul>
                </div>
            </div>
            <!--最热推荐-->
            <div style="margin-top:20px">
                <small>
                    <svg class="icon" aria-hidden="true" style="font-size: 20px">
                        <use xlink:href="#icon-sn-remen"></use>
                    </svg>热门推荐
                </small>
                <ul class="rightlist" id="recommend_wrapper" style="margin: 0px;padding: 0px;">
                </ul>
            </div>
            <!--热门标签-->
            <div class="hot_tag_wrapper">
                <br />
                <small>
                    <svg class="icon" aria-hidden="true" style="font-size: 20px">
                        <use xlink:href="#icon-sn-remen"></use>
                    </svg>最热标签
                </small>
                <div style="padding: 5px 0px;" class="tag_wrapper col-lg-12 col-md-12 col-sm-12" id="tag_wrapper">
                </div>
            </div>
        </div>
    </div>

</div>
<div th:insert="~{footer :: foot}" ></div>
<form id="search_form">
    <input type="hidden" name="tag" id="tag_param" th:value="${tag}">
    <input type="hidden" name="search" id="search_param" th:value="${search}">
    <input type="hidden" name="sort" id="sortby_param" th:value="${sort}">
<!--    <input type="hidden" name="category" id="category_param" th:value="${category}">-->
</form>
<script >
    $(function () {
        $('#myTabs a').click(function (e) {
            $("#sortby_param").attr("name", this.id);
            to_page(1);
            $(this).tab('show');
        });
    });
</script>
</body>
</html>