<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>水星社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

    <script type="application/javascript">
        window.onload=function () {
            var closeable=window.localStorage.getItem("closeable");
            if(closeable=="true"){
                window.close();
                window.localStorage.removeItem("closeable");
            }
        }
    </script>
</head>
<body>
<div th:insert="~{navgation :: nav}" ></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <hr>
            <ul class="media-list">
                <div class="media" th:each="question : ${pageination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" >
                            <a th:href="@{'/question/'+${question.id}}"  th:text="${question.title}"></a>
                        </h4>
                        <span class="text-color-999"> <span th:text="${question.commentCount}"></span>个评论 • <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </ul>
            <div class="mod-footer">
                <div class="page-control">
                    <ul class="pagination pull-right">
                        <li><a href="" th:if="${pageination.showFirstPage}" th:href="@{/(page=1,search=${search})}">&lt;&lt;</a></li>
                        <li><a th:href="@{/(page=${pageination.page - 1},search=${search})}" th:if="${pageination.showPrePage}">&lt;</a></li>
                        <li th:class="${pageination.page==page?'active':''}" th:each="page:${pageination.pages}"><a href="" th:href="@{/(page=${page},search=${search})}"  th:text="${page}"></a></li>
                        <li><a th:href="@{/(page=${pageination.page + 1},search=${search})}" th:if="${pageination.showNextPage}">&gt;</a></li>
                        <li><a th:href="@{/(page=${pageination.totalPage},search=${search})}" th:if="${pageination.showEndPage}">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>最新话题</h3>

        </div>
    </div>

</div>
<div th:insert="~{footer :: foot}" ></div>
</body>
</html>