<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Sign in</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css"th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"   rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="css/signin.css" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="/login" method="post">
			<img class="mb-4" src="/img/tian.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
			<label class="sr-only">Username</label>
			<input type="text" name="username" class="form-control" th:placeholder="#{login.username}" placeholder="Username" required="" autofocus="">
			<label class="sr-only">Password</label>
			<input type="password" name="password" class="form-control" th:placeholder="#{login.password}" placeholder="Password" required="">
			<p th:if="${not #strings.isEmpty(msg)}" th:text="${msg}" style="color: red"></p>
			<div class="checkbox mb-3">
				<label>
          		<input type="checkbox" value="remember-me"> [[#{login.remember}]]
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>

			<div style="margin-top: 20px;
    margin-left: -20px;">
				<a th:href="@{https://github.com/login/oauth/authorize(client_id='Iv1.b9785368af06692f',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}">
					<img th:src="@{/img/github.svg}" alt="" width="36" height="36">
				</a>
				<span>github登录</span>
				<a href="/register.html" style="margin-left: 20px">还没有帐户</a>
			</div>
		</form>

	</body>

</html>