<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/LR.css">
    <link rel="stylesheet" href="/css/jquery.sPage.css">
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <script src="https://at.alicdn.com/t/font_1520101_69ofwjk683q.js"></script>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js"></script>
    <script src="/js/sweetalert.min.js"></script>

    <script src="/js/sPage.min.js"></script>
    <script src="/js/profileData.js"></script>
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



</head>
<style>
.nav-list li{
    margin-top: 5px;
    margin-right: 20px;
}

</style>
<body>
<div th:insert="~{navgation :: nav}"></div>
<div>
    <header class="profile__heading" style="height: 268px;background-image: url('/img/back.jpg');background-size:cover;overflow: hidden;width: 100%;margin-top: -20px;">
        <div class="container" >
            <div class="row" style="position: relative;">
                <div class="col-md-2 col-sm-3 col-xs-3" >
                    <img th:src="${user.getAvatarUrl()}" alt="修改头像" class="img-circle" width="140px" height="140px" style="margin-top: 60px">

                </div>
                <div class="col-md-2 col-sm-3 col-xs-3" style="margin-top: 80px;margin-left: -20px">
                    <div>
                        <h4 th:text="${user.getName()}"></h4>
                        <div>

                        </div>
                    </div>
                    <div>
                        <div>
                             <span style="float: left">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-sn-area"></use>
                                </svg>
                             </span>
                             <p th:text="${user.getUserRegion()}" style="line-height: 30px;"></p>
                        </div>

                        <div style="margin-top: -40px;margin-left: 90px;">
                            <span>
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-sn-rili"></use>
                                </svg>
                            </span>
                            <p style="margin-left: 30px;margin-top: -25px;">1周前</p>
                        </div>

                    </div>
                    <div>
                        <a href="https://github.com/LandingGuys">
                            <!-- <span class="iconfont icon-sn-github"></span> -->
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-sn-github"></use>
                            </svg>
                        </a>
                        <a href="">

                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-sn-qq"></use>
                            </svg>
                        </a>

                        <a href="">

                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-sn-baidu"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div th:if="${session.user!=null}">
                    <div style="float: right; margin-top: 170px;margin-right: 10px" th:if="${user.getId() != session.user.getId()}">
                        <button type="button" class="btn btn-info" >
                            <span>+ 关注 TA</span>
                        </button>
                        <button type="button" class="btn btn-success">
                            <span>正在关注</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div style="background-color: white;">
        <ul class="nav nav-pills container nav-list" style="height: 50px;" id="nav_list">
            <li role="presentation"  style="margin-left: 40px;" >
                <a  id="dynamic">最新动态</a>
            </li>
            <li role="presentation" ><a id="question">问题</a></li>
            <li role="presentation" ><a id="collection">收藏</a></li>
            <li role="presentation" ><a id="follow">关注</a></li>
            <li role="presentation" ><a id="fans">粉丝</a></li>
        </ul>
    </div>

    <div class="container" style="margin-top: 10px">
        <div class="col-md-9" style="padding-top: 20px;">
            <div id="profiledata">

            </div>

        </div>
        <div class="col-md-3">
            <!--新用户-->
            <div>
                <div data-v-f340ffc8 class="box box-flush text-gray-50 mt-2">
                    <div data-v-f340ffc8 class="box-body">
                        <div data-v-f340ffc8 class="d-flex align-items-center justify-content-between">
                            <div data-v-f340ffc8 class="text-13">最新用户</div>
                        </div>
                    </div>
                    <ul data-v-f340ffc8 class="plan-list px-2 pb-2" id="newUser_wrapper">
                    </ul>
                </div>
            </div>
            <!--最热推荐-->
            <div style="margin-top:20px">
                <small>
                    <svg class="icon" aria-hidden="true" style="font-size: 20px">
                        <use xlink:href="#icon-sn-remen"></use>
                    </svg>热门推荐
                </small>
                <ul class="rightlist" id="recommend_wrapper" style="margin: 0px;padding: 0px;">
                </ul>
            </div>
            <!--热门标签-->

        </div>
    </div>

</div>
<input type="hidden" id="user_id" th:value="${user.getId()}">
<input type="hidden" id="profile_action" th:value="${action}">
<div th:insert="~{footer :: foot}"></div>

<script>
    $("#nav_list li").click(function () {
        $("#nav_list li").removeClass("active");
        $(this).addClass("active");
        var action= $(this).find("a").attr("id");
        var userId=$("#user_id").val();
        //加载最新动态、问题、收藏、关注、粉丝
        if(action=="question"){
            //加载个人问题
            to_question_page(1, action,userId);
            return;
        }else if(action=="collection") {
            //加载收藏

            return;
        } else if(action=="follow") {
            //加载关注
            return;
        } else if(action=="fans"){
            //加载粉丝
        }
        else{
            to_dynamic_page(1,action,userId);
        }

    })



</script>
</body>
</html>