<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign in</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/LR.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="https://at.alicdn.com/t/font_1520101_nbyacqf9te.js"></script>
</head>

<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">注册</h4>
        </div>
        <div class="modal-body">
            <div class="sfModal-content">
                <div class="row bg-white login-modal">
                    <div class="col-md-12 login-wrap">
                        <form action="/register" method="POST" role="form" class="mt15">
                            <div class="form-group">
                                <label for="username" class="control-label">你的名字</label>
                                <input type="text" class="form-control" name="username" required=""
                                       placeholder="真实姓名或常用昵称">
                            </div>

                            <div class="form-group">
                                <label for="mail" class="control-label">邮箱</label>
                                <input type="text" class="form-control" name="mail" required="" id="mail"
                                       placeholder="you@example.com">
                            </div>

                            <input type="text" class="hidden" name="register_type" value="mail">

                            <div class="form-group">
                                <div class="captchaInput mb10">
                                    <input type="text" class="form-control" name="emailYan" id="emailYan"
                                           placeholder="邮件收到的验证码"
                                           style="width:50%; display: inline; margin-right: 15px;">
                                    <button class="btn btn-lg btn-primary btn-block" type="button"
                                            style="float:right;width: 120px;font-size: unset"
                                            onclick="emailYanZheng()"><span id="code-btn"
                                                                            style="font-size: 12px">获取验证码</span>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="phone-register-only hidden">
                                    <div class="input-group">
                                        <input name="code" type="text"
                                               class="form-control js-user-login__phone-code-value"
                                               placeholder="短信验证码">
                                        <span class="input-group-btn">
                                                                    <button class="btn btn-default js-user-login__phone-vaild-btn"
                                                                            style="width:96px;" type="button">
                                                                    获取验证码</button>
                                                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label">密码</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       required="" placeholder="不少于 6 位的密码">
                            </div>
                            <div class="form-group clearfix">
                                <button type="submit" class="btn-block btn btn-primary pl20 pr20 pull-right">注册
                                </button>
                            </div>
                            <div class="text-muted text-center more-login-area">
                                <span class="more-login-words">更多登录方式</span>
                            </div>
                            <div class="widget-login mb15 text-center">
                                <a th:href="@{https://github.com/login/oauth/authorize(client_id='Iv1.b7d0686e97d9e912',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('redirectUri')},scope='user',state=1)}">
                                    <!-- <span class="iconfont icon-sn-github"></span> -->
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-sn-github"></use>
                                    </svg>
                                </a>
                                <a th:href="@{https://graph.qq.com/oauth2.0/authorize(response_type='code',client_id='101802971',redirect_uri='http://www.wast.club/qqcallback',state=1)}">

                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-sn-qq"></use>
                                    </svg>
                                </a>
                                <!--                                                            微信登录暂无授权-->
                                <!--                                                            <a href="#">-->

                                <!--                                                                <svg class="icon" aria-hidden="true">-->
                                <!--                                                                    <use xlink:href="#icon-sn-weixin"></use>-->
                                <!--                                                                </svg>-->
                                <!--                                                            </a>-->
                                <a th:href="@{https://openapi.baidu.com/oauth/2.0/authorize(response_type='code',client_id='9LuOVa1xvTbgkNdQvYIBgdIM',redirect_uri='http://www.wast.club/baiducallback',display='popup')}">

                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-sn-baidu"></use>
                                    </svg>
                                </a>
                                <!--                                                            微博登录暂未授权-->
                                <!--                                                            <a href="/user/oauth/weibo">-->

                                <!--                                                                <svg class="icon" aria-hidden="true">-->
                                <!--                                                                    <use xlink:href="#icon-sn-weibo"></use>-->
                                <!--                                                                </svg>-->
                                <!--                                                            </a>-->
                            </div>
                            <div class="form-group clearfix">
                                <a href="javascript:;"
                                   class="btn-block btn btn-default pull-right pl20 pr20SFRegister"
                                   id="ResToLog" onclick="ResToLog()">
                                    已有账号登录
                                </a>
                            </div>
                            <p class="text-muted text-center mb15">继续即表示你同意<a href="javascript:;"
                                                                              target="_blank">《服务条款》</a>和<a
                                    href="javascript:;" target="_blank">《隐私政策》</a></p></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer hidden"></div>
    </div>
</div>




</body>
</html>