<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register in</title>
    <!-- Bootstrap core CSS -->

    <link href="asserts/css/bootstrap.min.css"th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}"   rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js"></script>
    <script src="/js/sweetalert.min.js"></script>


</head>

<body class="text-center">
<form class="form-signin" action="/register" method="post">
    <img class="mb-4" src="/img/tian.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{register.tip}">Please sign in</h1>
    <label class="sr-only">Username</label>
    <input type="text" name="username" id="username" class="form-control" th:placeholder="#{register.username}" placeholder="Username" required="" autofocus="" onblur="repeatName()">
    <p id="msg" style="color: red"></p>
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" th:placeholder="#{register.password}" placeholder="Password" required="">
    <p th:if="${not #strings.isEmpty(msg)}" th:text="${msg}" style="color: red"></p>

    <label class="sr-only">验证码</label>
    <input type="text" name="emailYan" id="emailYan" class="form-control"  placeholder="验证码" style="width: 150px;">
    <button class="btn btn-lg btn-primary btn-block"  type="button" style="float:right;width: 120px;margin-top: -46px;font-size: unset" onclick="emailYanZheng()"><span id="code-btn" style="font-size: 12px">获取验证码</span></button>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{register.btn}">注册</button>
    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
    <a class="btn btn-sm" th:href="@{/register.html(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/register.html(l='en_US')}">English</a>

    <div style="margin-top: 20px;
    margin-left: -20px;">
        <a href="/login.html">
           马上去登录
        </a>
    </div>
</form>

</body>

</html>